  <!-- jQuery  -->
  <script src="/backend/assets/js/jquery.min.js"></script>
  <script src="/backend/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/backend/assets/js/metisMenu.min.js"></script>
  <script src="/backend/assets/js/jquery.slimscroll.js"></script>
  <script src="/backend/assets/js/waves.min.js"></script>

  <script src="/backend/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

  <!-- App js -->
  <script src="/backend/assets/js/app.js"></script>

</body>
</html>