<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Lexa - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta content="Admin Dashboard" name="description" />
  <meta content="Freakybug" name="author" />
  <link rel="shortcut icon" href="/backend/assets/images/favicon.ico">
  <link rel="stylesheet" href="/backend/plugins/morris/morris.css">

  <link href="/backend/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/backend/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
  <link href="/backend/assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/backend/assets/css/style.css" rel="stylesheet" type="text/css">
