<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home Page 3</title>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet"href="/frontend/assets/css/owl.carousel.css">
	<link rel="stylesheet"href="/frontend/assets/css/fontawesome-all.css">
	<link rel="stylesheet"href="/frontend/assets/css/flaticon.css">
	<link rel="stylesheet" type="text/css" href="/frontend/assets/css/meanmenu.css">
	<link rel="stylesheet"href="/frontend/assets/css/bootstrap.min.css">
	<link rel="stylesheet"href="/frontend/assets/css/video.min.css">
	<link rel="stylesheet"href="/frontend/assets/css/lightbox.css">
	<link rel="stylesheet"href="/frontend/assets/css/animate.min.css">
	<link rel="stylesheet"href="/frontend/assets/css/progess.css">
	<link rel="stylesheet"href="/frontend/assets/css/style.css">
	<link rel="stylesheet"href="/frontend/assets/css/responsive.css">

	<link rel="stylesheet" href="/frontend/assets/css/colors/switch.css">
	<link href="/frontend/assets/css/colors/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="/frontend/assets/css/colors/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="/frontend/assets/css/colors/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="/frontend/assets/css/colors/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
	<link href="/frontend/assets/css/colors/color-6.css" rel="alternate stylesheet" type="text/css" title="color-6">
	<link href="/frontend/assets/css/colors/color-7.css" rel="alternate stylesheet" type="text/css" title="color-7">
	<link href="/frontend/assets/css/colors/color-8.css" rel="alternate stylesheet" type="text/css" title="color-8">
	<link href="/frontend/assets/css/colors/color-9.css" rel="alternate stylesheet" type="text/css" title="color-9">

</head>

<body>

	<div id="preloader"></div>